absl-py 
aiohttp 
appdirs==1.4.4
argon2-cffi 
asgiref==3.3.1
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs 
audioread==2.1.9
backcall==0.2.0
beautifulsoup4==4.9.3
bleach 
blinker==1.4
blis==0.7.4
brotlipy==0.7.0
bs4==0.0.1
CacheControl==0.12.6
cachetools 
catalogue==1.0.0
certifi==2020.12.5
cffi 
chardet==3.0.4
chart-studio==1.1.0
click==7.1.2
colorama 
cryptography 
cv==1.0.0
cycler==0.10.0
cymem==2.0.5
dataclasses==0.6
decorator==4.4.2
deepface==0.0.48
defusedxml==0.6.0
Django==3.1.5
django-crispy-forms==1.11.1
dlib 
docopt==0.6.2
entrypoints==0.3
face-recognition==1.3.0
face-recognition-models==0.3.0
fastai==2.1.9
fastcore==1.3.12
fastprogress==1.0.0
filelock==3.0.12
firebase-admin==4.5.2
Flask==1.1.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gdown==3.12.2
google-api-core==1.26.1
google-api-python-client==2.0.2
google-auth 
google-auth-httplib2==0.1.0
google-auth-oauthlib 
google-cloud-core==1.6.0
google-cloud-firestore==2.0.2
google-cloud-storage==1.36.1
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
grpcio 
gunicorn==20.0.4
h5py==2.10.0
httplib2==0.19.0
idna 
imbalanced-learn==0.7.0
imblearn==0.0
importlib-metadata
imutils==0.5.4
ipykernel 
ipython 
ipython-genutils==0.2.0
ipywidgets 
isort==5.7.0
itsdangerous==1.1.0
jedi 
Jinja2==2.11.2
joblib==0.17.0
Js2Py==0.70
jsonschema
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core==4.6.3
jupyterlab-pygments 
jupyterthemes==0.20.0
Keras==2.4.3
Keras-Applications 
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lesscpy==0.14.0
librosa==0.8.0
llvmlite==0.35.0
Markdown 
MarkupSafe 
matplotlib==3.3.2
mccabe==0.6.1
mistune 
mkl-fft==1.3.1
mkl-random
mkl-service
msgpack==1.0.2
mtcnn==0.1.0
multidict 
murmurhash==1.0.5
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
numba
numpy
oauthlib==3.1.0
olefile==0.46
opencv-contrib-python==4.5.1.48
opencv-python==4.4.0.46
opt-einsum==3.1.0
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.2
parso==0.7.1
pickleshare 
Pillow
pipwin==0.5.0
plac==1.1.3
plotly==4.12.0
ply==3.11
pooch==1.3.0
preshed==3.0.5
prometheus-client==0.8.0
prompt-toolkit==1.0.14
proto-plus==1.14.2
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio 
pybind11==2.6.1
pycountry==20.7.3
pycparser 
pydub==0.24.1
Pygments 
PyInquirer==1.0.3
pyjsparser==2.7.1
PyJWT==1.7.1
pylint==2.6.0
pyOpenSSL 
pyparsing==2.4.7
PyPrind==2.11.2
pyreadline==2.1
pyrsistent
pySmartDL==1.3.4
PySocks
python-dateutil==2.8.1
pytz==2020.4
pywin32==228
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole 
QtPy==1.9.0
regex==2020.11.13
requests 
requests-oauthlib==1.3.0
resampy==0.2.2
retrying==1.3.3
rsa
sample-random==0.2.0
scikit-learn
scipy
seaborn==0.11.0
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
SoundFile==0.10.3.post1
soupsieve==2.0.1
spacy==2.3.5
sqlparse==0.4.1
srsly==1.0.5
tensorboard==2.3.0
tensorboard-plugin-wit
tensorflow
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
tf-utils==1.0.4
thinc==7.4.5
threadpoolctl==2.1.0
toml==0.10.2
torch==1.8.0
tornado==6.1
tqdm==4.54.1
traitlets 
typed-ast==1.4.2
typing-extensions
tzlocal==2.1
uritemplate==3.0.1
urllib3 
wasabi==0.8.0
wcwidth 
webencodings==0.5.1
Werkzeug==0.16.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
WTForms==2.3.3
yarl 
zipp 
